<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill</title>
    <style>

    </style>
</head>
<body>
    <div>
        Hoá đơn [Số hoá đơn] cho [Dịch vụ] đến hạn vào ngày [Ngày đến hạn].
        <br/>
        Xin Chào [Tên],
        <br/>
        Đây là lời nhắc thân thiện rằng hoá đơn đính kèm [Số Hoá đơn] cho [Dịch Vụ] đến hạn
        vào ngày [Ngày đến hạn]. Hãy cho chúng tôi biết nếu bạn có bất cứ thắc mắc nào.
        <br/>
        Số Hoá Đơn: [Số hoá đơn]
        <br/>
        Dịch vụ tháng: [tháng]
        <br/>
        Dịch vụ: [tên dịch vụ]
        <br/>
        Chỉ số đầu: [số]
        <br/>
        Chỉ số cuối: [số]
        <br/>
        Tổng số: [số] 
        <br/>
        Tổng tiền cần thanh toán: [số] 
        <br/>
        

        Trân trọng,
        <br/>
        Chủ trọ

    </div>
</body>
</html>